@keyframes bouton-explorer {
  0% {
    background-position: 100% 50%;
    background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  100% {
    background-position: 0% 50%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes restaurants-liked {
  0% {
    font-weight: 400;
  }
  50% {
    font-weight: 650;
  }
  100% {
    font-weight: 900;
  }
}
@keyframes loader-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes menus-load {
  0% {
    transform: translate(-9999px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes coche-droite-gauche {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes coche-gauche-droite {
  0% {
    transform: translateX(100%);
    width: 0%;
  }
  50% {
    width: 8%;
  }
  100% {
    transform: translateX(0%);
    width: 15%;
  }
}
/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356DC;
  --main-bg-color: #FFFFFF;
  --filter-bg-color: #FFFFFF;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: #F3F3F3;
}

.main-container {
  width: 100%;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: loader-fade-out 3s linear forwards;
  animation-duration: 3s;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #9356DC;
  border-top-color: transparent;
  animation: loader-rotation 1s linear infinite;
  animation-duration: 1s;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}
.header img {
  width: 50%;
  margin: 5% 0% 3% 0%;
}
@media screen and (min-width: 1024px) {
  .header img {
    width: 200px;
    margin: 30px 0px 30px 0px;
  }
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #EAEAEA;
}
.header__location i {
  color: #000000;
  margin-right: 5%;
}
@media screen and (min-width: 1024px) {
  .header__location i {
    margin-right: 1%;
  }
}
.header__location h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
}
.explorer__submit {
  width: 60%;
  height: 50px;
  border-radius: 25px;
  background-color: #9356DC;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  margin-bottom: 10%;
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 60%;
}
@media screen and (min-width: 1024px) {
  .explorer__submit {
    width: 218px;
    margin-top: 18px;
    margin-bottom: 30px;
  }
}
.explorer__submit:hover {
  opacity: 0.9;
  animation: bouton-explorer 10000ms ease-in-out 0ms 1 normal forwards running;
  cursor: pointer;
}
.explorer__submit:not(:hover) {
  opacity: 1;
  animation: bouton-explorer 300ms ease-in-out 0ms 1 reverse forwards running;
}
.explorer h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  width: 75%;
  text-align: center;
  margin: 10% 0% 0% 0%;
}
@media screen and (min-width: 1024px) {
  .explorer h1 {
    font-size: 40px;
    line-height: normal;
  }
}
@media screen and (min-width: 1024px) {
  .explorer h1 {
    margin: 30px 0px 0px 0px;
  }
}
.explorer h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #353535;
  text-align: center;
  margin: 5% 0% 0% 0%;
}
@media screen and (min-width: 1024px) {
  .explorer h3 {
    margin: 10px 0px 0px 0px;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 5% 40px 5%;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1440px) {
  .fonctionnement {
    width: 100%;
    padding: 50px 0% 50px 0%;
  }
}
.fonctionnement__choix {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__choix {
    flex-direction: row;
    margin: 0% 12.5% 0% 12.5%;
    width: 75%;
  }
}
.fonctionnement__choix-lien {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #F3F3F3;
  border-radius: 20px;
  margin: 2% 0% 2% 0%;
}
.fonctionnement__choix-lien i {
  margin: 0% 8% 0% 0%;
  color: #9356DC;
}
.fonctionnement__choix-lien img {
  margin: 0% 8% 0% 0%;
}
.fonctionnement__choix-lien h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
  margin: 6% 0% 6% 0%;
}
.fonctionnement a {
  text-decoration: none;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .fonctionnement a {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-left: 12.5%;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .fonctionnement h1 {
    font-size: 40px;
    line-height: normal;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 5% 40px 5%;
  padding-top: 40px;
  background-color: #F3F3F3;
}
@media screen and (min-width: 1440px) {
  .restaurants {
    width: 75%;
    margin: 0% 12.5% 0% 12.5%;
  }
}
.restaurants h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
@media screen and (min-width: 1024px) {
  .restaurants h1 {
    font-size: 40px;
    line-height: normal;
  }
}
.restaurants__frame {
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .restaurants__frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.restaurants__frame-article {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .restaurants__frame-article {
    width: 45%;
  }
}
.restaurants__frame-article a {
  text-decoration: none;
  width: 90%;
}
.restaurants__card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  background-color: #FFFFFF;
}
.restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__card-new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  z-index: 1;
  border-radius: 2px;
  padding: 5px;
}
.restaurants__card-new h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #008766;
  text-align: center;
  margin: 0;
}
.restaurants__card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  margin: 2% 5% 5% 5%;
}
.restaurants__card-content i {
  padding-left: 20%;
}
.restaurants__card-heart:hover {
  animation-name: restaurants-liked;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.restaurants__card-heart:not(:hover) {
  animation: restaurants-liked 3000ms ease-in-out 0ms 1 reverse forwards running;
}
.restaurants__card-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0% 0% 0% 0%;
}
.restaurants__card-text h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #353535;
  margin: 2% 0% 0% 0%;
}
.restaurants__card-text h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #353535;
  margin: 1% 0% 0% 0%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #353535;
  padding: 20px 5% 20px 5%;
}
@media screen and (min-width: 1440px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
  }
}
.footer img {
  color: #FFF;
  height: 27px;
  width: 138px;
}
.footer__lien {
  margin-top: 16px;
}
@media screen and (min-width: 1440px) {
  .footer__lien {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    margin-right: 16px;
  }
}
.footer__lien a {
  text-decoration: none;
  color: #FFF;
}
@media screen and (min-width: 1440px) {
  .footer__lien a {
    margin: 0% 0.5% 0% 0.5%;
  }
}
.footer__lien-a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: #FFF;
  margin-bottom: 10px;
}
@media screen and (min-width: 1440px) {
  .footer__lien-a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.footer__lien-a a {
  text-decoration: none;
  color: #FFF;
}
@media screen and (min-width: 1440px) {
  .footer__lien-a a {
    width: 130px;
  }
}
.footer__lien-a i {
  color: #FFF;
}
.footer__lien-a h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
  margin: 0px 0px 0px 10px;
  color: #FFF;
}
@media screen and (min-width: 1440px) {
  .footer__lien-a h2 {
    width: 170px;
  }
}

/****** Style des pages des restaurants****/
.main-resto {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--white, #FFF);
  height: auto;
}

.content {
  flex: 1;
}

.header-resto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header-resto__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 62px;
}
.header-resto__logo img {
  height: 30px;
  width: 30px;
  margin-left: 17px;
}
.header-resto__logo h1 {
  text-align: center;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #101010;
  text-align: center;
  margin: 14px 23% 13px 11%;
  width: 55%;
}
@media screen and (min-width: 1440px) {
  .header-resto__logo h1 {
    width: 100%;
    margin: 14px 0px 13px 0px;
  }
}
.header-resto__photo {
  width: 100%;
  position: relative;
}
.header-resto__photo img {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  margin-top: -30px;
  padding-top: 30px;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .menu {
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
    align-items: center;
  }
}
.menu__titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 17px;
}
@media screen and (min-width: 1440px) {
  .menu__titre {
    width: 35%;
  }
}
.menu__titre h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: auto;
}
.menu__titre i {
  margin: 8px 15px 0px 40px;
}
.menu__section--1 {
  animation: menus-load 5s forwards 1 normal ease-in-out;
  animation-delay: 500ms;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .menu__section--1 {
    width: 60%;
    margin: 40px 0px 0px 0px;
  }
}
.menu__section--1 h3 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-bottom: 3px solid #99E2D0;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px 0px 12px 0px;
}
.menu__section--1-card {
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0;
  margin-bottom: 12px;
}
.menu__section--1-card:hover .menu__section--1-card-plat {
  width: 65%;
}
.menu__section--1-card:hover .menu__section--1-card-plat-tick {
  animation: coche-droite-gauche 800ms ease-in-out forwards;
  display: block;
}
.menu__section--1-card:hover .menu__section--1-card-plat-tick i {
  animation: coche-droite-gauche 800ms ease-in-out forwards;
  display: block;
}
.menu__section--1-card:hover .menu__section--1-card-plat h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__section--1-card:hover .menu__section--1-card-plat h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__section--1-card:not(:hover) .menu__section--1-card-plat-tick {
  display: block;
  animation: coche-gauche-droite 800ms ease-in-out reverse forwards;
}
.menu__section--1-card:not(:hover) .menu__section--1-card-plat-tick i {
  display: none;
  animation: coche-gauche-droite 800ms ease-in-out reverse forwards;
}
.menu__section--1-card-plat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 5px 15px 15px;
  width: 90%;
}
.menu__section--1-card-plat h3 {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  border-bottom: 0px;
  width: 100%;
}
.menu__section--1-card-plat h4 {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0%;
  width: 100%;
}
.menu__section--1-card-plat-tick {
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  height: 69px;
  width: 15%;
  display: none;
}
.menu__section--1-card-plat-tick i {
  position: absolute;
  top: 50%;
  left: 40%;
  color: #FFF;
  display: none;
}
.menu__section--1-card-prix {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 15px 15px 5px;
}
.menu__section--1-card-prix h5 {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0%;
}
.menu__section--2 {
  animation: menus-load 5s forwards 1 normal ease-in-out;
  animation-delay: 1000ms;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .menu__section--2 {
    width: 60%;
    margin: 40px 0px 0px 0px;
  }
}
.menu__section--2 h3 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-bottom: 3px solid #99E2D0;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px 0px 12px 0px;
}
.menu__section--2-card {
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0;
  margin-bottom: 12px;
}
.menu__section--2-card:hover .menu__section--2-card-plat {
  width: 65%;
}
.menu__section--2-card:hover .menu__section--2-card-plat-tick {
  animation: coche-droite-gauche 800ms ease-in-out forwards;
  display: block;
}
.menu__section--2-card:hover .menu__section--2-card-plat-tick i {
  animation: coche-droite-gauche 800ms ease-in-out forwards;
  display: block;
}
.menu__section--2-card:hover .menu__section--2-card-plat h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__section--2-card:hover .menu__section--2-card-plat h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__section--2-card:not(:hover) .menu__section--2-card-plat-tick {
  display: block;
  animation: coche-gauche-droite 800ms ease-in-out reverse forwards;
}
.menu__section--2-card:not(:hover) .menu__section--2-card-plat-tick i {
  display: none;
  animation: coche-gauche-droite 800ms ease-in-out reverse forwards;
}
.menu__section--2-card-plat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 5px 15px 15px;
  width: 90%;
}
.menu__section--2-card-plat h3 {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  border-bottom: 0px;
  width: 100%;
}
.menu__section--2-card-plat h4 {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0%;
  width: 100%;
}
.menu__section--2-card-plat-tick {
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  height: 69px;
  width: 15%;
  display: none;
}
.menu__section--2-card-plat-tick i {
  position: absolute;
  top: 50%;
  left: 40%;
  color: #FFF;
  display: none;
}
.menu__section--2-card-prix {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 15px 15px 5px;
}
.menu__section--2-card-prix h5 {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0%;
}
.menu__section--3 {
  animation: menus-load 5s forwards 1 normal ease-in-out;
  animation-delay: 1500ms;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .menu__section--3 {
    width: 60%;
    margin: 40px 0px 0px 0px;
  }
}
.menu__section--3 h3 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-bottom: 3px solid #99E2D0;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px 0px 12px 0px;
}
.menu__section--3-card {
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0;
  margin-bottom: 12px;
}
.menu__section--3-card:hover .menu__section--3-card-plat {
  width: 65%;
}
.menu__section--3-card:hover .menu__section--3-card-plat-tick {
  animation: coche-droite-gauche 800ms ease-in-out forwards;
  display: block;
}
.menu__section--3-card:hover .menu__section--3-card-plat-tick i {
  animation: coche-droite-gauche 800ms ease-in-out forwards;
  display: block;
}
.menu__section--3-card:hover .menu__section--3-card-plat h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__section--3-card:hover .menu__section--3-card-plat h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__section--3-card:not(:hover) .menu__section--3-card-plat-tick {
  display: block;
  animation: coche-gauche-droite 800ms ease-in-out reverse forwards;
}
.menu__section--3-card:not(:hover) .menu__section--3-card-plat-tick i {
  display: none;
  animation: coche-gauche-droite 800ms ease-in-out reverse forwards;
}
.menu__section--3-card-plat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 5px 15px 15px;
  width: 90%;
}
.menu__section--3-card-plat h3 {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  border-bottom: 0px;
  width: 100%;
}
.menu__section--3-card-plat h4 {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0%;
  width: 100%;
}
.menu__section--3-card-plat-tick {
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  height: 69px;
  width: 15%;
  display: none;
}
.menu__section--3-card-plat-tick i {
  position: absolute;
  top: 50%;
  left: 40%;
  color: #FFF;
  display: none;
}
.menu__section--3-card-prix {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 15px 15px 5px;
}
.menu__section--3-card-prix h5 {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0%;
}
.menu__bouton {
  text-align: center;
  width: 100%;
  margin: 40px 0px 40px 0px;
}
.menu__bouton input {
  width: 60%;
  height: 50px;
  border-radius: 25px;
  background-color: #9356DC;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  margin-bottom: 10%;
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 50%;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin: 0%;
}
@media screen and (min-width: 1024px) {
  .menu__bouton input {
    width: 218px;
    margin-top: 18px;
    margin-bottom: 30px;
  }
}
.menu__bouton input:hover {
  opacity: 0.9;
  animation: bouton-explorer 10000ms ease-in-out 0ms 1 normal forwards running;
  cursor: pointer;
}
.menu__bouton input:not(:hover) {
  opacity: 1;
  animation: bouton-explorer 300ms ease-in-out 0ms 1 reverse forwards running;
}