@keyframes bouton-explorer {
  0% {
    background-position: 100% 50%;
    background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  100% {
    background-position: 0% 50%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes restaurants-liked {
  0% {
    font-weight: 400;
  }
  50% {
    font-weight: 650;
  }
  100% {
    font-weight: 900;
  }
}
/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356DC;
  --main-bg-color: #FFFFFF;
  --filter-bg-color: #FFFFFF;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: #F3F3F3;
}

.main-container {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}
.header img {
  width: 50%;
  margin: 5% 0% 3% 0%;
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #EAEAEA;
}
.header__location i {
  color: #000000;
  margin-right: 5%;
}
.header__location h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
}
.explorer__submit {
  width: 60%;
  height: 50px;
  border-radius: 25px;
  background-color: #9356DC;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  margin-bottom: 10%;
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 60%;
}
.explorer__submit:hover {
  opacity: 0.9;
  animation: bouton-explorer 2000ms ease-in-out 0ms 1 normal forwards running;
  cursor: pointer;
}
.explorer__submit:not(:hover) {
  opacity: 1;
  animation: bouton-explorer 300ms ease-in-out 0ms 1 reverse forwards running;
}
.explorer h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #353535;
  width: 75%;
  text-align: center;
  margin: 10% 0% 0% 0%;
}
.explorer h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #353535;
  text-align: center;
  margin: 5% 0% 0% 0%;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 5% 40px 5%;
  background-color: #FFFFFF;
}
.fonctionnement__choix {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #F3F3F3;
  border-radius: 20px;
  margin: 2% 0% 2% 0%;
}
.fonctionnement__choix i {
  margin: 0% 8% 0% 0%;
  color: #9356DC;
}
.fonctionnement__choix img {
  margin: 0% 8% 0% 0%;
}
.fonctionnement__choix h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
  margin: 6% 0% 6% 0%;
}
.fonctionnement a {
  text-decoration: none;
  width: 100%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 5% 0px 5%;
  padding-top: 40px;
  background-color: #F3F3F3;
}
.restaurants h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #353535;
}
.restaurants a {
  text-decoration: none;
  width: 90%;
}
.restaurants__article {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 20px;
}
.restaurants__card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  background-color: #FFFFFF;
}
.restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__card-new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  z-index: 1;
  border-radius: 2px;
  padding: 5px;
}
.restaurants__card-new h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #008766;
  text-align: center;
  margin: 0;
}
.restaurants__card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  margin: 2% 5% 10% 5%;
}
.restaurants__card-content i {
  padding-left: 20%;
}
.restaurants__card-heart:hover {
  animation-name: restaurants-liked;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.restaurants__card-heart:not(:hover) {
  animation: restaurants-liked 3000ms ease-in-out 0ms 1 reverse forwards running;
}
.restaurants__card-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0% 0% 0% 0%;
}
.restaurants__card-text h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #353535;
  margin: 2% 0% 0% 0%;
}
.restaurants__card-text h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #353535;
  margin: 1% 0% 0% 0%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #353535;
  margin-top: 50px;
  padding: 20px 5% 20px 5%;
}
.footer img {
  color: #FFF;
  height: 27px;
  width: 138px;
}
.footer__lien {
  margin-top: 16px;
}
.footer__lien a {
  text-decoration: none;
  color: #FFF;
}
.footer__lien-a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  color: #FFF;
  margin-bottom: 10px;
}
.footer__lien-a a {
  text-decoration: none;
  color: #FFF;
}
.footer__lien-a i {
  color: #FFF;
}
.footer__lien-a h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
  margin: 0px 0px 0px 10px;
  color: #FFF;
}