@import "./utils/_variables"; 
@import "./utils/keyframes";

  
/****** General ***********/
* {
    font-family: $font-family; 
}

:root {
    --main-color: #{$primary-color};
    --main-bg-color: #FFFFFF;
    --filter-bg-color: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    margin:0px;
    background-color: #F3F3F3;
}

.main-container {
    width: 100%;
 }

 .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: loader-fade-out 3s linear forwards;
    $random:random($limit:3);
    animation-duration: $random+s;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #9356DC; 
    border-top-color: transparent;
    animation: loader-rotation 1s linear infinite;
    $random:random($limit:3);
    animation-duration: $random+s;
  }
  
  
  @import "./utils/_mixins";
  @import "./layout/_header"; 
  @import "./layout/_explorer";
  @import "./layout/fonctionnement";
  @import "./layout/restaurants";
  @import "./layout/footer";
  

  /****** Style des pages des restaurants****/
  .main-resto {
    width: 100%;
    background: var(--white, #FFF);
 }
  @import "./layout/header-resto";
  @import "./layout/_menu-resto";
