@import "./utils/_variables"; 
@import "./utils/keyframes";

  
/****** General ***********/
* {
    font-family: $font-family; 
}

:root {
    --main-color: #{$primary-color};
    --main-bg-color: #FFFFFF;
    --filter-bg-color: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    margin:0px;
    background-color: #F3F3F3;
}

.main-container {
    width: 100%;
 }

 .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: loader-fade-out 3s linear forwards;
    animation-duration: random($limit: 3);
  }
  
  .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #9356DC; 
    border-top-color: transparent;
    animation: loader-rotation 1s linear infinite;
    animation-duration: random($limit: 3);
  }
  
  @keyframes loader-rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @import "./utils/_mixins";
  @import "./layout/_header"; 
  @import "./layout/_explorer";
  @import "./layout/fonctionnement";
  @import "./layout/restaurants";
  @import "./layout/footer";
