.menu{
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    margin-top: -30px; 
    padding-top: 30px;
    width:100%;
    &__titre{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        margin-left: 17px;
        & h2{
            font-family: Shrikhand;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width:auto;
        }
        & i{
            margin:8px 15px 0px 70px;
        }
    }
    &__section{
        display: flex;
        flex-direction: column;
        width:95%;
        margin:  0 auto ;
        & h3{
            color: #000;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            border-bottom: 3px solid #99E2D0;
            width:fit-content;
            margin: 5px 0px 12px 0px;
        }
        
        &-card{
            border-radius: 15px;
            background-color: #FFF;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 15px;
            margin-bottom: 12px;
            &-plat{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width:80%;
                & h3{
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin:0px;
                    border-bottom: 0px;
                }
                & h4{
                    font-family: Roboto;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    margin:0%;
                    width:75%;
                }
            }
            &-prix{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-top: 6%;
                
                & h5{
                    color: #353535;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 15.043px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin:0%;
                }
            }
        }
    }
    &__bouton{
        text-align: center;
        width:100%;
        margin:40px 0px 40px 0px;
        & input{

            @include button();
        width:50%;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        margin:0%;
        &:hover{
            opacity: 0.9;
            animation: bouton-explorer 10000ms ease-in-out 0ms 1 normal forwards running;
            cursor: pointer;
        }

        &:not(:hover){
            opacity: 1;
            animation: bouton-explorer 300ms ease-in-out 0ms 1 reverse forwards running;
        }
   
        }
    }
}