.menu{
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    margin-top: -30px; 
    padding-top: 30px;
    width:100%;
    @media screen and (min-width:1440px) {
    width:75%;
    margin-left:12%;
    margin-right: 12%;
    align-items: center;
    }
    
    &__titre{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-left: 17px;
        @media screen and (min-width:1440px) {
        width:35%;   
        }
        &:hover 
        { 
          .icon-hover 
            { 
              opacity: 1;
              transform: scale(1.1); 
              color:transparent;
              font-weight: 900;
              background-image: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);

            } 
            .icon-default 
            { 
              opacity: 0; 
              transform:scale(1.1); 
            } 
          }
        & h2{
            font-family: Shrikhand;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width:auto;
            margin: 0px;
        }
        & i{
            margin-left:55px;
            @media screen and (min-width:1440px) {
                margin-left:30px;
                }
        
        }
        & .icon-default 
        { 
          opacity: 1; 
          background-image: linear-gradient(43deg,#4158D0 0%, #C850C0 46%, #FFCC70 100%); 
        } 
        & .icon-hover 
        { 
            opacity: 0;
            background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%,#FFCC70 100%); 
        } 
        & .fa
        { 
            position: absolute; 
            right: 10%; 
            font-size:25px; 
            font-weight: 400; 
            background-clip: text; 
            transition: all 0.2s; 
            @media screen and (min-width:1440px) {
                right: 35%; 
                }
        } 
        &.fa-solid
        { 
            position: absolute; 
            background-clip: text; 
            right: 30px;
            font-size: 25px; 
            transition: all 0.5s; 
        }  
    }
    &__section
    {
        $anim-delay:500ms;
        @for $i from 1 through 3
        {    
            &--#{$i}
            {
                transform: translate(-9999px);
                animation: menus-load 3s forwards 1 normal ease-in-out;
                animation-delay: $anim-delay * $i;
                display: flex;
                flex-direction: column;
                width:95%;
                margin:  30px auto 0px auto ;
                @media screen and (min-width:1440px) {
                    width:60%;
                    margin:  40px 0px 0px 0px ;
                    }
                & h3{
                    color: #000;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    border-bottom: 3px solid #99E2D0;
                    width:fit-content;
                    margin: 5px 0px 12px 0px;
                }       
                &-card{
                    border-radius: 15px;
                    background-color: #FFF;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    margin-bottom: 12px;
                    animation: coche-droite-gauche 0s paused;
                    // animation: coche-gauche-droite 0s paused;
                    &:hover &-plat-tick {
                        width:10%;
                    }
                    &:hover &-plat-tick i{
                        display:block;
                    }                       
                    &-plat{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        padding:15px 5px 15px 15px;
                        width:60%;
                        gap: 5px;
                        flex: 1 0 0;
                        & h3{
                            font-family: Roboto;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin:0px;
                            border-bottom: 0px;
                            width:100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        & h4{
                            font-family: Roboto;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                            margin:0%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width:100%;
                        }
                        &-tick{
                        border-radius: 0 15px 15px 0;
                        background-color:#99E2D0 ;
                        width:0%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition-property: width;
                        transition-duration:500ms;
                             & i{
                                color:#FFF;
                                display: none;
                                transition-property: display;
                                transition-duration: 250ms;
                                transition-delay: 125ms;
                             }
                        }
                    }
                    &-prix{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 15px 15px 15px 5px;
                        & h5{
                            color: #353535;
                            text-align: center;
                            font-family: Roboto;
                            font-size: 15.043px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            margin:0%;
                        }
                    }
                }
            }  
        }
    }
    &__bouton{
        text-align: center;
        width:100%;
        margin:10px 0px 40px 0px;
        @media screen and (min-width:1440px) {
        }
        & input{

            @include button();
        width:50%;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        margin:0%;
        transition: all 0.5s ease-in-out; 
        &:hover{
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
            cursor: pointer;
            }
        }
    }
}