.explorer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;

    &__submit{
        @include button();
        width:60%;

        &:hover{
            animation:bouton-explorer 1s linear 0s 1 normal forwards;
            cursor: pointer;
        }

        &:not(:hover){
            animation:bouton-explorer-rev 1s linear 0s 1 normal forwards;
        }
    }

    & h1{
        @include balise_h1();
        width:75%;
        text-align:center;
        margin:10% 0% 0% 0%;
        @media screen and (min-width: 1024px) {
            margin:30px 0px 0px 0px;
        }
    }

    & h3{
        @include balise_h3();
        text-align: center;
        margin:5% 0% 0% 0%;
        @media screen and (min-width: 1024px) {
        margin:10px 0px 0px 0px;
        }
    }
}

