.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // justify-content: center;
    // align-items: center;
    background-color: $font-color;
    // margin-top:50px;
    padding: 20px 5% 20px 5%;
    // position:relative;
    @media screen and (min-width:1440px) {
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        
    }

    & img{
        color:#FFF;
        height: 27px;
        width:138px;
    }

    &__lien{
        margin-top:16px ;
        @media screen and (min-width:1440px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width:auto;
            margin-right:16px;
        }
        & a{
            text-decoration: none;
            color: #FFF;
            @media screen and (min-width:1440px) {
            margin:0% 0.5% 0% 0.5%;
            // width:100%;
            }

        }
        &-a{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            color:#FFF;
            margin-bottom: 10px;
            @media screen and (min-width:1440px) {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }
            & a{
                text-decoration: none;
                color: #FFF;
                @media screen and (min-width:1440px) {
                    width:130px;
                    }
            }
            
            & i{
                color:#FFF;
            }
            
            & h2{
                @include balise_h2();
                margin: 0px 0px 0px 10px; 
                color: #FFF;
                @media screen and (min-width:1440px) {
                width:170px;
                }
            }
        } 
    }
    
    
    
   
    
}



