.header-resto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    
    &__logo{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        height:62px;
        
        & img{
            height: 30px;
            width:30px;
            margin-left: 17px;
        }

        & h1{
            text-align: center;
            font-family: Shrikhand;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #101010; 
            text-align: center;
            margin: 14px 23% 13px 11%;
            width:55%;
        }
       
    }

    &__photo{
        width:100%;
        & img{
            height:275px;
            object-fit: cover;
        }
        
    }
}

