.restaurants{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 5% 0px 5%;
    padding-top:40px;
    background-color: #F3F3F3;
    @media screen and (min-width:1440px) {
        width:75% ;
        margin:0% 12.5% 0% 12.5%;
    }

    & h1{
        @include balise_h1();
    }
    &__frame{
        width:100%;
        @media screen and (min-width:1440px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &-article{
        width:100%;
        border-radius:15px 15px 0px 0px;
        margin-bottom: 20px;
        @media screen and (min-width:1440px) {
            width:45%;
        }
        & a{
            text-decoration: none;
            width:90%;
        }
        } 

    }

    &__card{
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius:15px 15px 15px 15px;
        width:100%; 
        background-color: #FFFFFF;
        & img{
            object-fit: cover;
            height: 250px;
            border-radius:15px 15px 0px 0px;
        }
        
        &-new{
            position:absolute;
            top:10px;
            right:10px;
            background-color: #99E2D0;    ;
            z-index: 1;
            border-radius: 2px;
            padding: 5px;
            & h2{
                font-family: $font-family;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: $green_font-color;
                text-align: center;
                margin:0;
                }
        }
        
        &-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #FFFFFF;
            margin:2% 5% 10% 5%;
            & i{
                padding-left: 20%;
                
            }
        }

         &-heart{
            &:hover{
                animation-name: restaurants-liked;
                animation-duration: 1000ms;
                animation-timing-function:cubic-bezier(.9,0,.1,1);
                animation-delay: 3s;
                animation-iteration-count:1;
                animation-direction:normal;
                animation-fill-mode:forwards;
                // animation-play-state:running;
                //  animation: restaurants-liked 8s ease-in-out 0ms 1 normal forwards running;
       
            }
            &:not(:hover){
                animation: restaurants-liked 3000ms ease-in-out 0ms 1 reverse forwards running;
            }  
         }

        &-text{
            display: flex;
            flex-direction: column;
            width:100%;
            margin: 0% 0% 0% 0%;

            & h1{
                font-family: $font-family;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: $font-color; 
                margin:2% 0% 0% 0%;
            }
            & h3{
                @include balise_h3();
                margin:1% 0% 0% 0%;
            }
          
        }
    }
}

