@keyframes bouton-explorer{
        0% {
          // opacity: 1;
            background-position: 100% 50%;
            background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        }
        50%{
          background-position: 50% 50%;
          background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        }
        100% {
            // opacity: 0.1;
            background-position: 0% 50%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        }
}

@keyframes bouton-explorer-rev{
  0% {
      // opacity: 0.1;
      background-position: 0% 50%;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
  50%{
    background-position: 50% 50%;
    background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  100% {
      // opacity: 1;
      background-position: 100% 50%;
      background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

@keyframes restaurants-liked{
    0%{
        font-weight: 400;
    }
    50%{
        font-weight: 650;
    }

    100%{
        font-weight: 900;
        color:transparent;
        // background-clip: text;
        background-image: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    }
}

@keyframes loader-rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes menus-load {
    0%{
      transform: translate(-9999px);
    }
    100%{
      transform: translate(0);
    }
  }

  @keyframes coche-droite-gauche {
    0%{
      transform: translateX(100%);
      
    }
    100%{
      transform: translateX(0%);
      // display:block;
    }
  }

  @keyframes coche-gauche-droite {
    0%{
      transform: translateX(100%);
      width:0%;
     
    }
    50%{
      width:8%;
    }
    100%{
      transform: translateX(0%);
      width:15%;
    }
  }

