$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$blue2-color:#003A68;
$blue-color: #89C8FA;
$green_font-color:#008766;
$background-color:#EAEAEA;
$font-family: 'Roboto',sans-serif;
$font-color:#353535
